<?xml version='1.0' encoding='UTF-8'?>
<hudson>
    <version>1.0</version>
    <useSecurity>true</useSecurity>
    <authorizationStrategy class="hudson.security.FullControlOnceLoggedInAuthorizationStrategy"/>
    <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
        <disableSignup>true</disableSignup>
        <enableCaptcha>false</enableCaptcha>
    </securityRealm>
    <clouds>
        <com.nirima.jenkins.plugins.docker.DockerCloud plugin="docker-plugin@0.16.1-SNAPSHOT">
            <name>Triton (us-east-1)</name>
            <templates class="empty-list"/>
            <serverUrl>https://us-east-1.docker.joyent.com:2376</serverUrl>
            <connectTimeout>300</connectTimeout>
            <readTimeout>300</readTimeout>
            <credentialsId>credentials id</credentialsId>
            <containerCap>100</containerCap>
        </com.nirima.jenkins.plugins.docker.DockerCloud>
        <com.nirima.jenkins.plugins.docker.DockerCloud plugin="docker-plugin@0.16.1-SNAPSHOT">
            <name>Triton (eu-ams-1)</name>
            <templates class="empty-list"/>
            <serverUrl>https://eu-ams-1.docker.joyent.com:2376</serverUrl>
            <connectTimeout>300</connectTimeout>
            <readTimeout>300</readTimeout>
            <credentialsId>credentials id</credentialsId>
            <containerCap>100</containerCap>
        </com.nirima.jenkins.plugins.docker.DockerCloud>
        <com.nirima.jenkins.plugins.docker.DockerCloud plugin="docker-plugin@0.16.1-SNAPSHOT">
            <name>Triton (us-sw-1)</name>
            <templates class="empty-list"/>
            <serverUrl>https://us-sw-1.docker.joyent.com:2376</serverUrl>
            <connectTimeout>300</connectTimeout>
            <readTimeout>300</readTimeout>
            <credentialsId>credentials id</credentialsId>
            <containerCap>100</containerCap>
        </com.nirima.jenkins.plugins.docker.DockerCloud>
    </clouds>
</hudson>
